node_modules/

# Local environment variables
.env

# Multer temp uploads
public/temp/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS metadata
.DS_Store

# Optional IDE folders
.vscode/
.idea/

# Build artifacts
dist/
build/